h1 {
  color: #b5aa1a;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px; 
}

h2 {
  color:#000000;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  background-color: #fbfcfc;
  
}
