h1 {
  color: #b5aa1a;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 0px; 
}

h3 {
  color:#b5aa1a;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  background-color: #ffffff;
  font-family: "Arial", Arial, san-serif;
  font-size: 12px;
}

footer {
   color: #b5aa1a;
   font-family: "Times New Roman", Times, serif;
   font-size: 12px;
   font-style: italic, bold;
   margin-top: 7px;
   margin-bottom: 0px
 -}

a:link, a:visited {
    color: #000000;
}


a:hover, a:active {
    background-color: #bfaa1a;
    color: #ffffff;
}
