h1 {
  color: #b5aa1a;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 0px; 
}

h3 {
  color:#b5aa1a;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
    font-family: "Arial", Arial, san-serif;
    font-size: 12px;
    margin-left: 0px;
    img-align: right
    text-align: left;
}

body {
  background-color: #ffffff;
  font-family: "Arial", Arial, san-serif;
  font-size: 12px;
}

a:link, a:visited {
    color: #000000;
}


a:hover, a:active {
    background-color: #bfaa1a;
    color: #ffffff;
}

footer {
  color: #b5aa1a;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 0px
}
