h1 {
  color: #b5aa1a;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 2px; 
}

h3 {
  color:#b5aa1a;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 2px;
}

body {
  background-color: #ffffff;
}

p {
    font-family: "Arial", Arial, san-serif;
}

a:link, a:visited {
    background-color: #bfaa1a;
    color: #ffffff;
}


a:hover, a:active {
    background-color: #ffffff;
    color: #bfaa1a;
}
